[run]
branch = True
source = txacme
omit =
    txacme/_version.py
    txacme/interfaces.py

[paths]
source =
    src/txacme
    .tox/*/lib/python*/site-packages/txacme
    .tox/*/site-packages/txacme
